* {
    box-sizing: border-box;
}
body{
    margin: 0%; 
    background-color: black;
}

.navigationbar{
    min-height: 50px;
    width: 100%;
    background-color: rgb(25, 23, 23);
    padding: 5px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.searchbar-box{
    flex: 1;
    height: 40px;
    min-width: 30px;
    padding: 5px 0px 5px 0px;
}

#searchfield{
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 1;
}
#searchfield input{
    flex: 1;
    height: 30px;
    min-width: 0;
    border: 2px solid rgb(255, 253, 253);
    outline: none;
    font-size: 14px;
    border-radius: 6px 0px 0px 6px;
}
#searchfield input::placeholder{
    color: #888;
    font-size: 13px;
}
#searchfield input:focus{
    border-color: orange;
    box-shadow: 0 0 2px orange;
}

#searchbutton{
    height: 30px;
    width: 36px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

#logo,
#address-box,
#searchbar-box{
    color: aliceblue;
    font-size: 1rem;
    text-decoration: none;
}
#cart-box,
#account-box{
    color: aliceblue;
    font-size: 1rem;
    text-decoration: none;
    flex-shrink: 0;
}

.carousel{
    height: 300px;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carousel-items{
    height: 250px;
    width: 95rem;
    margin: 0 18px;
    background-color: rgb(128, 128, 147);
    display: flex;
    flex-wrap: wrap;
}

.arrow-button{
    min-width: 25px;
    min-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 0.85rem;
    background: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    padding: 10px 14px;
}

#left-arrow{
    left: 1px;
}
#right-arrow{
    right: 1px;
}

.categories{
    padding: 18px;
}

.product-card{
    height: 180px; 
    width: 150px;
   background-color:  rgb(128, 128, 147);
   margin-top: 15px;
   display: flex;
   flex-direction: column;
}
.product-image{
    flex: 3;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name{
    flex: 1;
    font-size: large;
    font-weight: bold;
}

.product-price{
    flex: 1;
    font-size: medium;
    font-weight: bold;
}

.product-type{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}